.tasksBig{
    width: 16vw;
    height: 18vh;

    /* justify-content: space-between; */

    border-style:solid;
    border-width: 0px;
    border-color: rgb(189, 189, 189);
    border-radius: 8px;

    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    user-select: none;
    
    font-size: 20px;
}


/* .spacer{
    height: 1px;
} */

.aroundBig{
    width: 33vw;
    height: 30vh;
    padding-top: 10px;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: none;
    gap: 1vw;
}

.tasksBig:hover{
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
}

.CircleAdd:hover{
    border-radius: 100px;
    border-color: transparent;
    color: #03a9f4; 
}


.DialogStruc{
    display: flex;
    flex-direction: row;
    width: 30vw;
}

.textStyle >* {
    color: antiquewhite;
    font-size: 10px;
}

#due{
    font-size: 10px;
    color: gray;
}

.struc{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 0px;  
}

.taskAdd{
    width: 16vw;
    height: 18vh;

    /* justify-content: space-between; */

    border-style:solid;
    border-width: 0px;
    border-color: rgb(189, 189, 189);
    border-radius: 8px;

    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

#right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
    height: 2vh;
    padding-right: 5px;
}

.lowerTaskAround{
    border-style:solid;
    border-width: 0px;
    border-color: rgb(189, 189, 189);
    border-radius: 10px;

    box-shadow: 1px 1px 5px rgb(189, 189, 189);
    width: 8vw;
    height: 2.5vh;
    display: flex;  
    align-items: center;
    padding-left: 10px;

}

.lowerTaskAround:hover{
    box-shadow: 1px 1px 10px rgb(189, 189, 189);
}

.lowerTaskDiv{
    display: flex;
}