
.bar{

        height: 9vh;
        width: 100vw;
        background-color: white;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    
        border-style:solid;
        border-width: 0px;
        border-top: none;
        border-right:none;
        border-left:none;
        border-color: rgb(189, 189, 189);

        /* box-shadow: 1px 0px 5px rgb(189, 189, 189); */
    
}


:hover.Menu{
        color: #FF8A65;
        font-size: xx-large;
}

.Menu{
        position: absolute;
        margin-left: 90vw;
}