
.aroundK{
    padding-top: 20px;
    width: 90vw;
    height: 35vh;
    display: flex;
    gap: 20px;
    justify-content: center;
}


#day{
    display: flex;
    flex-direction: row;
    gap: 15vw;
    padding-left: 5vw;
    padding-right: 5vw;
    user-select: none;
    font-weight: bold;

}