
.pic{
    width: 30px;
    height: 30px;
    border-radius: 7px;
}

.pic:hover{
    border-radius: 4px;
    box-shadow: 0px 0px 5px #9a9a9a;
}

.box{
    width: 12vw;
    height: 39.5vh;

    display: flex;
    flex-direction: column;


    background-color: #fafafa;
    border-radius: 8px;
    /* box-shadow: 1px 1px 10px rgb(52, 52, 52); */
    /* padding: 10px; */
    box-shadow: 1px 1px 15px #9a9a9a;
}

.headQuick{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    color:black;
    
}    

.quickFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #e0e0e0;
    gap: 15px;
    background-color: #eeeeee;
    padding: 10px;

    border-radius: 0 0 8px 8px;
}